@model List<Kitap>

@if (TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <h2 class="">@TempData["success"]</h2>
    </div>
}

<div class="container">

    <div class="row pt-3 pb-4">

        <div>

            <h1>Kitaplar</h1>

        </div>

    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>
                    Id
                </th>

                <th>
                    Kitap Adı
                </th>

                <th>
                    Kitap Türü
                </th>
               
                <th>
                    Tanım
                </th>
                
                <th>
                    Yazar
                </th>
                
                <th>
                    Fiyat
                </th>

                <th>

                </th>

                <th>

                </th>


            </tr>
        </thead>

        <tbody>
            @foreach (var kitap in Model)
            {
                <tr>
                    <td>
                        @kitap.Id
                    </td>

                    <td>
                        @kitap.KitapAdi
                    </td>

                    <td>
                        @kitap.KitapTuruId
                    </td>

                    <td>
                        @kitap.Tanim
                    </td>

                    <td>
                        @kitap.Yazar
                    </td>

                    <td>
                        @kitap.Fiyat₺
                    </td>

                    <td>
                        <a asp-controller="Kitap" asp-action="Guncelle" asp-route-id="@kitap.Id" type="button" class="btn btn-primary btn-success" style="width:250px">Güncelle</a>
                    </td>

                    <td>
                        <a asp-controller="Kitap" asp-action="Sil" asp-route-id="@kitap.Id" type="button" class="btn btn-primary btn-danger" style="width:250px">Sil</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>

<div class="d-grip gap-2">
    <div>
        <a asp-controller="Kitap" asp-action="Ekle" class="btn btn-lg btn-primary" type="button">Yeni Kitap Oluştur</a>
    </div>
</div>