@model List<Kiralama>

@if (TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <h2 class="">@TempData["success"]</h2>
    </div>
}

<div class="container">

    <div class="row pt-3 pb-4">

        <div>

            <h1>Kiralama</h1>

        </div>

    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>
                    Id
                </th>

                <th>
                    Öğrenci Id
                </th>

                <th>
                    Kitap
                </th>

                <th>

                </th>

                <th>

                </th>


            </tr>
        </thead>

        <tbody>
            @foreach (var kiralama in Model)
            {
                <tr>
                    <td>
                        @kiralama.Id
                    </td>

                    <td>
                        @kiralama.OgrenciId
                    </td>

                    <td>
                        @kiralama.Kitap.KitapAdi
                    </td>

                    <td>
                        <a asp-controller="Kiralama" asp-action="EkleGuncelle" asp-route-id="@kiralama.Id" type="button" class="btn btn-primary btn-success" style="width:250px">Güncelle</a>
                    </td>

                    <td>
                        <a asp-controller="Kiralama" asp-action="Sil" asp-route-id="@kiralama.Id" type="button" class="btn btn-primary btn-danger" style="width:250px">Sil</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>

<div class="d-grip gap-2">
    <div>
        <a asp-controller="Kiralama" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Kiralama Oluştur</a>
    </div>
</div>